# ignore all mp4s
*.mp4 

# ignore all netcdf files 
*.nc 

# ignore all numpy files
*.npy

# ignore all jupyter notebooks
*.ipynb

# ignore some of my test scripts 
test_rr.py
run_all.py 

# ignore all pychache files 
__pycache__/